AlphaCab/src/conf/xml-resources/web-service-references/AlphaCabCalculate/wsdl/localhost_8080/AlphaCab/AlphaCabCalculate.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="calculateFee" type="tns:calculateFee"/>

<xs:element name="calculateFeeResponse" type="tns:calculateFeeResponse"/>

<xs:element name="changeFee" type="tns:changeFee"/>

<xs:element name="changeFeeResponse" type="tns:changeFeeResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeFee">
<xs:sequence>
<xs:element name="vat" type="xs:double"/>
<xs:element name="ppm" type="xs:int"/>
<xs:element name="sDist" type="xs:double"/>
<xs:element name="exChar" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeFeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateFee">
<xs:sequence>
<xs:element name="distance" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateFeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>