AlphaCab/src/conf/xml-resources/web-service-references/AlphaCabCalculate/wsdl/localhost_8080/AlphaCab/AlphaCabCalculate.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="AlphaCabCalculate">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/AlphaCab/AlphaCabCalculate?xsd=1"/>
</xsd:schema>
</types>
<message name="calculateFee">
<part name="parameters" element="tns:calculateFee"/>
</message>
<message name="calculateFeeResponse">
<part name="parameters" element="tns:calculateFeeResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="changeFee">
<part name="parameters" element="tns:changeFee"/>
</message>
<message name="changeFeeResponse">
<part name="parameters" element="tns:changeFeeResponse"/>
</message>
<portType name="AlphaCabCalculate">
<operation name="calculateFee">
<input wsam:Action="http://server/AlphaCabCalculate/calculateFeeRequest" message="tns:calculateFee"/>
<output wsam:Action="http://server/AlphaCabCalculate/calculateFeeResponse" message="tns:calculateFeeResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server/AlphaCabCalculate/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server/AlphaCabCalculate/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="changeFee">
<input wsam:Action="http://server/AlphaCabCalculate/changeFeeRequest" message="tns:changeFee"/>
<output wsam:Action="http://server/AlphaCabCalculate/changeFeeResponse" message="tns:changeFeeResponse"/>
</operation>
</portType>
<binding name="AlphaCabCalculatePortBinding" type="tns:AlphaCabCalculate">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="calculateFee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeFee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AlphaCabCalculate">
<port name="AlphaCabCalculatePort" binding="tns:AlphaCabCalculatePortBinding">
<soap:address location="http://localhost:8080/AlphaCab/AlphaCabCalculate"/>
</port>
</service>
</definitions>